<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <!--

        <bean id="cat" class="com.mj.pojo.Cat"/>
        <bean id="dog" class="com.mj.pojo.Dog"/>
        &lt;!&ndash;
            autowire
            byName：在容器上下文中，查找和自己对象的属性名对应的 bean
            byType：在容器上下文中，查找和自己对象的属性类型对应的 bean
        &ndash;&gt;
        <bean id="people" class="com.mj.pojo.People" autowire="byType">
            <property name="name" value="马俊"/>
            &lt;!&ndash;<property name="cat" ref="cat"/>&ndash;&gt;
            &lt;!&ndash;<property name="dog" ref="dog"/>&ndash;&gt;
        </bean>
    -->

    <!-- 开启注解支持 -->
    <context:annotation-config/>

    <bean id="cat" class="com.mj.pojo.Cat"/>
    <bean id="dog" class="com.mj.pojo.Dog"/>
    <bean id="people" class="com.mj.pojo.People"/>


</beans>
